*body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(248, 241, 255);
}


.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: heartbeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

a {
    text-decoration: none;
    color: black;
}

/* navbar */

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* .navbar a {
    color: #007BFF;
    font-weight: 600;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: #00C9A7;
} */

.navbar-brand h2 {
  font-size: 30px;
  background: linear-gradient(90deg, #438eff, #32cfff);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #00967d;
}





/* Hero Section */

.hero {
    background-image:  linear-gradient(#00ffd544, #008a73), url(image/Hospital.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section h1 {
    font-size: 46px;
}
.section p {
    font-size: 20px;
}
.section .btn {
    height: 47px;
    width: 200px;
    background-image: linear-gradient(90deg #309dd6 , #5fb643);
    color: white;
}

.hero .btn {
background-color: #00C9A7;
color: #FFFFFF;
font-size: 17px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero .btn:hover {
    background-color: #00a187;
}



/* About Us */

.about {
    background-color: #F5F6FA;
}
.about h3 {
     color: #008a73;
}


/* Our Services */

.services {
    background-color: #8ddcce;
}
.services h3 {
     color: #008a73;
}

/* Department */

.department h3 {
    color: #008a73;
}

/* Our Doctors */

.doctors {
    background-color: #8ddcce;
}
.doctors h3 {
    color: #008a73;

}

/* appointment */



.appointment {
border-radius: 10px;
max-width: 700px;
background-image: linear-gradient(#cae8e2, #a0e9dc , #cae8e2);
}

.book-appointment h3 {
    color: #008a73;
}

.form-control {
    max-width: 650px;
    font-size: 14px;
    border-color: #66eed5;
}

.form-label {
    font-size: 17px;
    color: rgb(41, 41, 41);
}

.btnn {
    height: 47px;
    width: 200px;
    background-color: #01bd9d;
    border-radius: 7px;
    border: none;

}
.btnn:hover {
    background-color: #00a187;
}

/* Contact Us */
 
.contact {
    background-color: #8ddcce;
}

/* Footer */

.footer {
    background-color: #008a73;
}
